 <!DOCTYPE <!DOCTYPE html>
<html lang="fr">
    {% trans_default_domain 'FOSUserBundle' %}
	<head>
		<title>BabySittin : Vos enfants c'est notre résponsabilité</title>
		<link rel="icon" type="image/png" sizes="96x96" href="{{asset('images/favicon-96x96.png')}}">
		<meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <meta name="description" content="">
	    <meta name="author" content="">
		
		<!-- Custom CSS -->
		<link rel="stylesheet" type="text/css" href="{{asset('css/style.css')}}">
		<!-- Bootstrap Core CSS -->
    	<link href="{{asset('css/bootstrap.min.css')}}" rel="stylesheet">
		<!-- Morris Charts CSS -->
    	<link href="{{asset('css/plugins/morris.css')}}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{{asset('font-awesome/css/font-awesome.min.css')}}" rel="stylesheet" type="text/css">
	</head>
	<body>
		<header>
			<div class="headerBloc">
				<div class="logo">
					<a href="{{path("_welcome")}}"><img src="{{asset('images/logo1.png')}}" alt=""/></a>
				</div>
				
				<div class="social">
					{{ socialButtons() }}
				</div>
				
				<div class="connection">
					 
					
					<div class="dropdown">
						<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
						    {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }}
						    <span class="caret"></span>
						</button>
						<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
						    <form class="navbar-form navbar-left" role="search">
						        <div class="form-group">
						        	<li>
                            <a href="{{ path('profilBabyFront')}}"><i class="fa fa-fw fa-user"></i> Profil</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-fw fa-envelope"></i> Messages</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-fw fa-gear"></i> Paramètres</a>
                        </li>
                        <li class="divider"></li>
						        </div>
						        <center><a role="btn"href="{{ path('fos_user_security_logout') }}" type="submit" class="btn myBtn1">Deconnexion</a>
						        		
						        </center>
					      </form>
						</ul>
					</div>
				</div>
			</div>
		</header>
		<nav class="navbar navbar-default">
			 <div class="container-fluid">
			    <!-- Brand and toggle get grouped for better mobile display -->
			    <div class="navbar-header">
			      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
			        <span class="sr-only">Toggle navigation</span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			      </center>
			      </button>
				</div>

			    <!-- Collect the nav links, forms, and other content for toggling -->
			    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				     <ul class="nav navbar-nav">
				        <li><a href="{{path('rech')}}">Recherche <span class="sr-only">(current)</span></a></li>
				        <li><a href="{{path('pidev_backBundle_List')}}">Liste des missions</a></li>
				        <li><a href="{{path("listeGarderie")}}">Espace garderie</a></li>
				        <li><a href="{{path("pidevFront_list")}}">Services</a></li>
				        <li><a href="#">Contact</a></li>
				     </ul>
			    </div><!-- /.navbar-collapse -->
  			</div><!-- /.container-fluid -->
		</nav>
{% block bannerForm %}
		<div class="bannerForm" >
			<div class="formBloc">
				<div class="formBG">
					<h3>Trouver une personne qui vous convient</h3>
                                        <center><form class="form1" action="">
						<select class="btn btn-default dropdown-toggle" name="sexe">
							<option>Sexe</option>
							<option>Femme</option>
							<option>Homme</option>
						</select>
						<select class="btn btn-default dropdown-toggle" name="age">
							<option>Age</option>
							<option>18</option>
							<option>19</option>
						</select>
						<select class="btn btn-default dropdown-toggle" name="ville">
							<option>Ville</option>
							<option>Tunis</option>
							<option>Ariana</option>
						</select>
						<select class="btn btn-default dropdown-toggle" name="prix">
							<option>Prix</option>
							<option>50</option>
							<option>60</option>
						</select>
						<select class="btn btn-default dropdown-toggle" name="note">
							<option>Note</option>
							<option>5</option>
							<option>6</option>
						</select>
						 <center><button type="submit" class="btn myBtn2">Je cherche !</button>
					</form>
                                            
                                    </center>
				</div>
                            <div style='color:grey; position:relative; bottom:100px; left:120px; '>
                                <h4>*BabySitting vous propose une recherche avancee a fin de trouver votre perle rare.</h4>
                                <h4>**Vous n'etes pas oblige a remplir tout les champs.</h4>
                            </div>
			</div>
		</div>
                {% endblock %}
		<div class="contenu">
                    {% block body %}
			<img src="{{asset('images/avis.png')}}" alt="">
                    {% endblock %}
		</div>
		<footer>
			<table>
				<tr>
					<td>Suivez-nous sur</td>
					<td>À propos</td>
					<td>Aides et Conseils</td>
					<td>Informations</td>
					<td>Services</td>
				</tr>
				<tr>
					<td>menu</td>
					<td>menu</td>
					<td>menu</td>
					<td>menu</td>
					<td>menu</td>
				</tr>
				<tr>
					<td>menu</td>
					<td>menu</td>
					<td>menu</td>
					<td>menu</td>
					<td>menu</td>
				</tr>
				<tr>
					<td>menu</td>
					<td>menu</td>
					<td>menu</td>
					<td>menu</td>
					<td>menu</td>
				</tr>
				<tr>
					<td>menu</td>
					<td>menu</td>
					<td>menu</td>
					<td>menu</td>
					<td>menu</td>
				</tr>
			</table>
		</footer>
		<!-- jQuery -->
	    <script src="{{asset('js/jquery.js')}}"></script>

	    <!-- Bootstrap Core JavaScript -->
	    <script src="{{asset('js/bootstrap.min.js')}}"></script>

	    <!-- Morris Charts JavaScript -->
	    <script src="{{asset('js/plugins/morris/raphael.min.js')}}"></script>
	    <script src="{{asset('js/plugins/morris/morris.min.js')}}"></script>
	    <script src="{{asset('js/plugins/morris/morris-data.js')}}"></script>	
	</body>
</html>